<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form name="form1"    method="post"    action="/">   
       <input    type="button"    name="Button"    value="Button"    onClick="submit()">   
   </form>
  </body>
</html>
